<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Panel</title>
</head>
<body>
  <label for="pass">
    Password
  </label>
  <input type="text" id="pass">
  <br>
  <br>
  <label for="new">
    Custom DB
  </label>
  <textarea rows="10" cols="40" placeholder="Leave empty for read" id="newB"></textarea>
  <br>
  <br>
  <input type="checkbox" id="confirmR">
  <label for="confirmR">Confirm READ access</label>
  <br>
  <br>
  <input type="checkbox" id="confirmW">
  <label for="confirmW">Confirm WRITE access</label>
  <br>
  <br>
  <button id="submit">
    Submit
  </button>
<script>
  const submit = document.getElementById("submit");
  const pass = document.getElementById("pass");
  const newB = document.getElementById("newB");
  
  const confirmR = document.getElementById("confirmR")
  const confirmW = document.getElementById("confirmW")
  
  submit.addEventListener("click", () => {
    if(confirmW.checked && !confirmR.checked){
      console.log("/api/customdb/?password=" + pass.value);
      fetch("/api/customdb/?password=" + pass.value, {
        method: "POST",
        headers: [],
        body: {
          newdb: newB.value //finish
        },
      }).then((res) => res.text()).then((text) => {
        document.body.innerHTML = text;
      })
    }
    else if(confirmR.checked && !confirmW.checked){
      console.log("/api/db/?password=" + pass.value);
      fetch("/api/db/?password=" + pass.value, {
        method: "GET",
        headers: []
      }).then((res) => res.text()).then((text) => {
        document.body.innerHTML = text;
      })
    }
    else{
      alert("Please pick only one access");
    }

    
  });


</script>
</body>
</html>
