<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plinko</title>
    <link rel="stylesheet" href="../global/global.css" />
    <link rel="stylesheet" href="style.css" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script defer src="../global/balance.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.1/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.11.1/addons/p5.sound.min.js"></script>
    <script defer src="plinko.js"></script>
    
  </head>
  <body>
    <header>
      <a href="../">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </a>
      <h1>Plinko</h1>
    </header>
    <main class="container">
      <div class="left">
        <div id="plinko">
        
        </div>
      </div>
      <div class="right">
        <div class="balance">
          <img src="../assets/stonks-low.png">
          <h2>Balance:</h2>
        </div>
          <p id="balance"></p>
         <div class="roll">
            <div class="row">
                <h1>Bet Amount: </h1>
                <input id="amount" type="number">
            </div>
            <div class="row">
              <button class="percent" onclick="amount.value = localBalance">1x</button>
              <button class="percent" onclick="amount.value = localBalance*0.5">0.5x</button>
              <button class="percent" onclick="amount.value = localBalance*0.25">0.25x</button>
            </div>
            <button id="spin" onclick="spin()">
                Drop
                <ion-icon name="arrow-down-outline" style="margin-bottom: -3px"></ion-icon>
            </button>
        </div>
      </div>
      </div>
    </main>
  </body>
</html>
