.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.container a{
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(91, 189, 125));
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    flex: 1;
    min-width: 400px;
}

.card{
    padding: 0;
    overflow: hidden;
    height: 300px;
    position: relative; 
    flex: 1;
}

.card .title{
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    z-index: 3;
}

.card .game-bg{
    width: 100%;
    z-index: 0;
    opacity: 0.5;
}

.title{
    color: white;
    padding: 15px 20px;
    text-shadow: 10px 10px 20px black;
}

.title img{
    height: 1.7rem;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.199);
}

.container a{
    transition: translate 0.3s;
}

.container a:hover{
    translate: 0 -10px;
}

.balance {
    display: flex;
    font-size: 1rem;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.balance p{
    font-size: 1.5rem;
}

.balance button{
    padding: 8px 12px;
    border-radius: 10px;
    background-color: #9c1818;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.balance button:hover{
    scale: 1.07;
}

#leaderboard{
    width: 100%;
    margin-top: 20px;
    color: white;
    font-size: 1.7rem;
    padding: 20px 10px;
}

th{
    background-color: rgba(240, 253, 255, 0.062);
    padding: 20px 15px;
    text-align: left;
}

tr{
    
    background-color: rgba(240, 253, 255, 0.062);
    padding: 10px;
}

td{
    padding: 10px 20px;
}