<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ban Hammer</title>
    <script src="loadBanHammer.js" defer></script>
    <link rel="stylesheet" href="style.css"></link>
</head>
<body>
    <label for="password">Password:</label>
    <input id="password" type="text">
    <button id="loadBanHammer" onclick="loadBanHammer();">Submit</button>
    <table id="banTable" border="1">
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Balance</th>
            <th>Plinko #</th>
            <th>Bridge #</th>
            <th>Wheel #</th>
            <th>Ban?</th>
        </tr>
        <tr>
            <td>Hello</td>
            <td>Hello</td>
            <td>Hello</td>
            <td>Hello</td>
            <td>Hello</td>
            <td>Hello</td>
        </tr>
    </table>
    <button id="UPDATEBANS">UPDATE</button>
</body>
</html>